@import url(./pygments-css/monokai.css);

h1, h2, h3, h4, h5, header {
  font-family: 'Helvetica'
}

h1 {
  font-size: 30px
}

pre {
  background-color: #000;
  color: #EEE;
  padding: 15px
}

hr {
  margin: 40px 0;
}

body {
  /* font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif; */
  line-height: 1.4;
  margin: 0 10px;
}

.container {
  margin: 0px auto;
  font-size: 18px;
  width: 600px;
  max-width: 90%;
}

.post {
  /* font-family: Georgia, Times, serif; */
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif
  line-height: 1.4;
}

.post header {
  font-size: 40px;
  font-weight: bold;
}

a {
  color: rgb(17, 95, 160)
}

a:visited {
  color: #751590
}

a:hover {
  color: #1863a1
}

.post header a, h1 a {
  text-decoration: none;
  color: #000
}

h1 a:visited {
  color: #000
}

.post header a:hover, h1 a:hover {
  color: #1863a1
}

.post .date {
  text-transform: uppercase;
  font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 17px
}

#footer {
  line-height: 30px
}
#footer hr{
  margin: 20px 0px
}

#footer img{
  float: left;
  padding-right: 20px
}
